{
	"printWidth": 100,
	"singleQuote": true,
	"plugins": [
		"prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-multiline-arrays",
    "prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
