{
	"printWidth": 120,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"trailingComma": "all",
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-organize-attributes",
		"prettier-plugin-multiline-arrays",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
