<footer class="border-base-300 bg-base-100 border-t py-10 font-sans transition-colors duration-300">
	<div class="container flex flex-col items-center justify-between gap-6 md:flex-row">
		<p class="text-base-content/60 text-sm font-medium">
			&copy; {{ currentYear }} <a class="text-primary hover:text-primary-focus cursor-pointer font-bold transition-all" href="/"> PcBuilder </a>. Todos los derechos reservados.
		</p>

		<div class="text-base-content/40 flex gap-6 text-sm font-medium">
			<a class="hover:text-primary cursor-pointer transition-colors" href="#">Términos</a>
			<a class="hover:text-primary cursor-pointer transition-colors" href="#">Privacidad</a>
			<a class="hover:text-primary cursor-pointer transition-colors" href="#">Contacto</a>
		</div>
	</div>
</footer>
